* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: black;
    color: aliceblue;
    }

div{
    padding: 0;
    }
    
.container {  display: grid;
    height: 100%;
    grid-template-columns: 0.4fr 1.2fr 0.4fr 1.2fr;
    grid-template-rows: 0.4fr 1.3fr;
    grid-auto-columns: 3fr;
    grid-auto-rows: 3fr;
    gap: 0.5em 0.5em;
    grid-auto-flow: row;
    grid-template-areas:
        "left-bar top-bar top-bar right-side"
        "left-bar left-side mid-bar right-side";
    }
    
.left-bar { 
    grid-area: left-bar;
    outline: 0.5em solid rgb(140, 0, 255);
}
    
.top-bar { 
    grid-area: top-bar;
    outline: 0.5em solid rgb(140, 0, 255);
}
    
.right-side { 
    grid-area: right-side;
    outline: 0.5em solid rgb(140, 0, 255);
}
    
.left-side { 
    grid-area: left-side;
    outline: 0.5em solid rgb(140, 0, 255);
}
    
.mid-bar { 
    grid-area: mid-bar;
    outline: 0.5em solid rgb(140, 0, 255);
}
    
textarea {
    place-self: center stretch;
    width: 100%;
    grid-area: textarea;
    height: 100%;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
    border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
    border-image: none;
    border-radius: 7px 7px 7px 7px;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #555555;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.2em;
    line-height: 1.4em;
    padding: 5px 5px;
    transition: background-color 0.2s ease 0s;
    /* New styles to clear the float and add margin */
    margin-top: 20px; /* Adjust the margin based on your design preferences */
    position: relative;
}
    
textarea:focus {
    background: none repeat scroll 0 0 #ffffffab;
    outline-width: 0;
    /* New styles to clear the float and add margin */
    margin-top: 20px; /* Adjust the margin based on your design preferences */
    position: relative;
}


/* Add your CSS styles here */
.imageArea {
    position:absolute;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

#imgUpload {
    place-self: center stretch;
    max-width: auto;
    max-height: auto; /* Set a maximum height for the displayed image */
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blue(0px)
}

/* Clear the float and add some margin to the text area */
#textArea1 {
    clear: both;
    margin-top: 20px;
}