* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

[v-cloak] {
display: none;
}

body {
  min-height: 70vh;
  background-color: #a9a9a9;
  color: aliceblue;
  transition: background-color 0.3s ease; /* Transition for smooth color change */
  }

div {
  padding: 0;
}
  
.grid-container {
  height: 100%;
  margin-left: 3px;
  gap: 1em;
  display: grid;
  grid-template-columns: 0.1fr 0.1fr 1.5fr 0.2fr 0.2fr 1.8fr 0.5fr 0.9fr 0.3fr;
  grid-template-rows: 0.5fr 0.7fr 2.8fr 0.8fr 0.8fr;
  grid-auto-flow: row;
  grid-template-areas:
      "tool-bar tool-bar tool-bar page-bar page-bar page-bar tab-area tab-area thin-bar"
      "content-1 content-1 content-1 main-page main-page main-page tab-choice-display tab-choice-display thin-bar"
      "content-1 content-1 content-1 main-page main-page main-page tab-choice-display tab-choice-display thin-bar"
      "content-2 content-2 content-2 bottom-bar bottom-bar bottom-bar tab-choice-display tab-choice-display thin-bar"
      "content-2 content-2 content-2 bottom-bar bottom-bar bottom-bar tab-choice-display tab-choice-display thin-bar"
  }

.tool-bar {
  grid-area: tool-bar; /* row 1, column 1, rowspan 1, colspan 3 */
  background-color: rgba(93, 93, 93, 0.462);
}

.content-1 {
  grid-area: content-1; /* row 2, column 1, rowspan 8, colspan 3 */
  background-color: rgb(24, 24, 24);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-2 {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  grid-area: content-2; /* row 9, column 1, rowspan 8, colspan 3 */
  background-color: rgba(88, 88, 88, 0.307);
}

.page-bar {
  grid-area: page-bar; /* row 1, column 4, rowspan 1, colspan 3 */
}

.main-page {
  grid-area: main-page; /* row 2, column 4, rowspan 8, colspan 3 */
}

.bottom-bar {
  grid-area: bottom-bar; /* row 9, column 4, rowspan 8, colspan 3 */
}

.thin-bar {
grid-area: thin-bar; /* row 1, column 1, rowspan 1, colspan 3 */
background-color: rgba(110, 57, 255, 0.835);
display: flex;
place-self: center stretch;
width: 100%;
height: 100%;
}

.tab-area {
  grid-area: tab-area;
  width: 100%;
  height: 100%;
}

.tab-choice-display {
  grid-area: tab-choice-display; 
  flex-direction: column;
  width: 100%;
  height: 100%;
}
  
textarea {
  place-self: center stretch;
  height: 100%;
  width: 100%;
  grid-area: textarea;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 7px 7px 7px 7px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.05em;
  line-height: 1.4em;
  padding: 5px 5px;
  transition: background-color 0.2s ease 0s;
}

#story-object-info-textarea {
width: 55%;
height: 100%;
}

#story-object-image {
padding: 1em;
margin-left: 1em;
width: 11em;
height: 11em;
}
  
textarea:focus {
      background: none repeat scroll 0 0 #ffffff;
      outline-width: 0;
}



/* Style for tab 1 container */
#tab1Content {
  background-color: rgba(253, 243, 220); /* Set background color */
  place-self: center stretch;
  width: 100%;
  height: 100%;
}
/* Style for tab 2 container */
#tab2Content {
  background-color: rgba(226, 243, 180, 0.796); /* Set background color */
  place-self: center stretch;
  width: 100%;
  height: 100%;
}
/* Style for tab 3 container */
#tab3Content {
  background-color: rgba(253, 243, 220, 0.487); /* Set background color */
  place-self: center stretch;
  width: 100%;
  height: 100%;
}
/* Style for tab 4 container */
#tab4Content {
  background-color: rgba(135, 120, 217, 0.521); /* Set background color */
  place-self: center stretch;
  width: 100%;
  height: 100%;
}

/*section selector tab buttons*/
.tab-area {
  display: flex;
}
.tab-button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-left: 1em;
}
.tab-button img {
  width: 3em;
  height: 3em;
}
.tab-button:hover img {
  width: 3em;
  height: 3em;
}

/* invisible stuff */
.tab-display-area-frame {
  display: none;
}
.tab-choice-display > div {
  display: none;
}

.story-object-dynamic-list {
  height: 400px; /* Set a fixed height */
  max-height: 600px; /* Ensure the height doesn't exceed the specified value */
  overflow-y: auto; /* Enable vertical scrolling when content exceeds the container height */
  padding: 2em;
  box-sizing: border-box;
}


  

/*same same*/
.story-object-container {
  display: flex;
  border-color: #000000;
  align-items: center;
  height: 1em; /* Set a fixed height for each item */
  margin-bottom: 1em;
}
/*same same*/
.object-container {
  display: flex;
  background-color: #ffffff;
  align-items: center;
  border: 2px solid; /* Add a border */
  border-radius: 10px; /* Rounded corners on both sides */
  padding: 5px;
  margin-bottom: 1em;
}
  

.separator {
  height: 2px;
  background-color: #5757578f;
}



.object-text {
  color: inherit; /* Inherit color from parent */
  padding: 5px 10px;
  border-radius: 0; /* Remove rounded corners */
  flex-grow: 1;
  text-align: left;
  max-width: 20em;
}

.object-color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 10px; /* Add some margin to separate it from the text */
  }

.object-color.selected {
    border: 2px solid black;
  }



.story-object-options {
      height: 14.28%; /* 1/7th of the container */
      min-width: 10em;
      padding: 10px;
      box-sizing: border-box;
    }

.story-object-buttons-wrapper {
    
  display: flex; 
  flex-wrap: wrap;
  gap: 1em;
    }

.story-object-options-buttons {
  flex-direction: row;
  padding: 0.25em;
  margin: 5px 5px;
  background-color: #232323;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}



.object-entry-form {
  flex-grow: 1;
  margin-right: 50px;
}



