<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/style_2.css'%}">
    <script src="{% static 'app.js'%}"></script>
    {% csrf_token %}
    <title>Main</title>
</head>
  
      <!-- body -->        <!-- style="background-image: file('public\assets\1.png'); background-size: cover; -->
  
      </head>
      <body>
          <div class="container">
              <!-- entire webpage -->

                    <div class="top-bar"></div>
                    <div class="left-bar">
                        <button onclick="uploadText()">Upload Text</button>
                    </div>
            
                    <!-- end of first row --> 
                    <div class="left-side">
                        <div id="imgUpload" class="imageArea"></div> <!-- Image area to display the uploaded image -->
                        <textarea placeholder="Main Storyline" rows="20" name="comment[text]" id="mainTextArea" cols="40" class="highlightable-textarea" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true"></textarea>
                    </div>
                
        
                    <div class="mid-bar">
                        <textarea placeholder="Output" rows="4" name="comment[text]" id="textOutputA" cols="20" class="highlightable-textarea" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true"></textarea>
                    </div>
                    
            <div class="resize-bar"></div>

                <div class="right-side">
                    <div class="imageArea" id="imageArea"></div>
                    <input type="file" id="imageInput" accept="image/*" onchange="previewImage()"> <!-- Input element for image upload -->
                    <button onclick="uploadImage()">Upload Image</button> <!-- Button to trigger image upload, js point 2 -->
                
            </div>
          </div>
      </body>
      </html>
      